/* Reglas por defecto */

* {
    box-sizing: border-box;
    /* font */
    font-family: "Averta CY", sans-serif;
}

body {
    margin: 0%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*Header*/

#header {
    padding: 5%;
}

#header h1 {
    text-align: center;
    font-size: 3vw;
    color: black;
}

#header h3 {
    text-align: center;
}

#header i {
    font-size: 3vw;
    padding-left: 50%;
}


/*Menu*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: #777;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

.column-2 {
    width: 50%;
    float: left;
}

#section-1 {
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
}

#section-1 h2 {
    color: #048c8c;
}

#section-2 {
    width: 100%;
    padding-left: 5%;
    padding-top: 12%;
}

#section-2 h2 {
    color: #048c8c;
}

.relleno-lateral {
    padding-left: 20%;
}

#section-2 img {
    width: 40%;
    float: left;
    border: black solid;
}

#section-3 {
    width: 100%;
    padding-left: 5%;
    padding-top: 12%;
}

#section-3 h2 {
    color: #048c8c;
}